.bottom-menu-container {
	display: flex;
	justify-content: space-evenly;
}

.bottom-menu-container .fas {
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
}

.text-and-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
